Customer Support.json
{
    "name": "Customer Support",
    "nodes": [
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [ 256, 224 ],
            "id": "0608dce6-e899-49cb-a353-f0ec51b7c2ab",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "",
                    "name": ""
                }
            }
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [ 400, 288 ],
            "id": "7915c7d2-7dcf-4317-b980-428818b9621d",
            "name": "No Operation, do nothing"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.snippet }}",
                "options": {
                    "systemMessage": "=#overview\nYou are a customer support agent. Respond to emails using the knowledgebase tool.\n\n##instructions\n- Friendly tone with emojis.\n- Sign off from me.\n\n##Output\n- Only email body content."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.2,
            "position": [ 704, -224 ],
            "id": "31a0286d-0ceb-485f-bbb7-f51eee7f4c44",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [ 704, -16 ],
            "id": "b04c1dbe-cdc0-4ae7-9382-16915a8a2256",
            "name": "Google Gemini Chat Model1",
            "credentials": {
                "googlePalmApi": {
                    "id": "",
                    "name": ""
                }
            }
        },
        {
            "parameters": {
                "mode": "retrieve-as-tool",
                "toolDescription": "Call this tool to access policy and FAQ information",
                "pineconeIndex": {
                    "__rl": true,
                    "value": "demo",
                    "mode": "list",
                    "cachedResultName": "demo"
                },
                "options": {
                    "pineconeNamespace": "custom support"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
            "typeVersion": 1.3,
            "position": [ 768, 144 ],
            "id": "85582b5c-d07d-4d0d-a6a5-c0937dc44475",
            "name": "Pinecone Vector Store",
            "credentials": {
                "pineconeApi": {
                    "id": "",
                    "name": ""
                }
            }
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
            "typeVersion": 1,
            "position": [ 768, 320 ],
            "id": "4496eb00-f1f2-4390-9c05-06b51180196e",
            "name": "Embeddings Google Gemini",
            "credentials": {
                "googlePalmApi": {
                    "id": "",
                    "name": ""
                }
            }
        },
        {
            "parameters": {
                "operation": "reply",
                "messageId": "={{ $('Fetching Emails').item.json.id }}",
                "emailType": "text",
                "message": "={{ $json.output }}",
                "options": {
                    "appendAttribution": false
                }
            },
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [ 1024, -224 ],
            "id": "c77f1915-d7f0-42e9-ada2-1ed4eb6aec96",
            "name": "Reply to a message",
            "credentials": {
                "gmailOAuth2": {
                    "id": "",
                    "name": ""
                }
            }
        },
        {
            "parameters": {
                "pollTimes": {
                    "item": [ { "mode": "everyMinute" } ]
                }
            },
            "type": "n8n-nodes-base.gmailTrigger",
            "typeVersion": 1.3,
            "position": [ 0, 16 ],
            "id": "616f5d86-3f8c-42f9-adf6-e0ea96462d52",
            "name": "Fetching Emails",
            "credentials": {
                "gmailOAuth2": {
                    "id": "",
                    "name": ""
                }
            }
        },
        {
            "parameters": {
                "inputText": "={{ $json.snippet }}",
                "categories": {
                    "categories": [
                        {
                            "category": "Customer Support",
                            "description": "Email related to help, policies, or products."
                        },
                        {
                            "category": "other",
                            "description": "Non-support related email."
                        }
                    ]
                }
            },
            "type": "@n8n/n8n-nodes-langchain.textClassifier",
            "typeVersion": 1.1,
            "position": [ 256, 16 ],
            "id": "6c268696-28a0-4d42-87b1-b2e786cc0624",
            "name": "Classifying Custom Support Mails"
        }
    ],
    "connections": {
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Classifying Custom Support Mails",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model1": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Pinecone Vector Store": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings Google Gemini": {
            "ai_embedding": [
                [
                    {
                        "node": "Pinecone Vector Store",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Reply to a message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetching Emails": {
            "main": [
                [
                    {
                        "node": "Classifying Custom Support Mails",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Classifying Custom Support Mails": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "No Operation, do nothing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    }
}